<h1>Editing consumer_brand_selection_parameter</h1>

<%= render 'form' %>

<%= link_to 'Show', @consumer_brand_selection_parameter %> |
<%= link_to 'Back', consumer_brand_selection_parameters_path %>
