<p id="notice"><%= notice %></p>

<p>
  <b>Consumer category:</b>
  <%= @consumer.consumer_category_id %>
</p>


<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
