<h2>Listing distances of <%= @market.name %> from each market </h2>
<table>
  <tr>
    <th>
      Market Name
    </th>
    <th>Distance</th>
  </tr>
  <% @market_distances.each do |mdistance| %>

      <tr>
        <td><%= Market.find(mdistance.target_market_id).name %></td>
        <td>   <%= mdistance.distance %></td>
      </tr>
  <% end %>

</table>

